In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
print("Module Loaded Successfully !!")

Module Loaded Successfully !!

# Pandas
- Transpose
- get
- groupby
- items
- copy
- corelation
- insert
- map
- apply
- reset_index
- to_csv to .....
- dateitem

In [2]:
# loc and iloc

In [3]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\data\Adani\adani.csv")

In [4]:
df

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,1010.400024,1025.949951,1001.500000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
64499,1025481600,AMBUJACEM.NS,Ambuja Cements Limited,17.374217,17.759328,17.298457,17.670942,630442.0,0.0,0.0
64500,1025481600,ATGL.NS,Adani Total Gas Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64501,1025481600,AWL.NS,AWL Agri Business Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64502,1025481600,NDTV.NS,New Delhi Television Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64503,1025481600,SANGHIIND.NS,Sanghi Industries Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.sample()

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
2599,1740096000,ADANIGREEN.NS,Adani Green Energy Limited,864.950012,877.0,841.0,849.349976,2895228.0,0.0,0.0

In [6]:
df.head()

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,1010.400024,1025.949951,1001.500000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0

In [7]:
df.tail()

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
64499,1025481600,AMBUJACEM.NS,Ambuja Cements Limited,17.374217,17.759328,17.298457,17.670942,630442.0,0.0,0.0
64500,1025481600,ATGL.NS,Adani Total Gas Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64501,1025481600,AWL.NS,AWL Agri Business Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64502,1025481600,NDTV.NS,New Delhi Television Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64503,1025481600,SANGHIIND.NS,Sanghi Industries Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64504 entries, 0 to 64503
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     64504 non-null  int64
 1   symbol        64504 non-null  object
 2   company       64504 non-null  object
 3   open          41629 non-null  float64
 4   high          41629 non-null  float64
 5   low           41629 non-null  float64
 6   close         41629 non-null  float64
 7   volume        41629 non-null  float64
 8   dividends     41629 non-null  float64
 9   stock_splits  41629 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.9+ MB

In [9]:
df.columns

Index(['timestamp', 'symbol', 'company', 'open', 'high', 'low', 'close',
       'volume', 'dividends', 'stock_splits'],
      dtype='object')

In [10]:
df['stock_splits'].value_counts()

stock_splits
0.0    41625
5.0        3
2.0        1
Name: count, dtype: int64

In [11]:
# loc and iloc : Row or Columns Slice

In [12]:
# df.loc[row,col]

In [13]:
df.loc[0,:] ## Pahla row slice krne aage sare aa gye h

timestamp        1770336000
symbol               ACC.NS
company         ACC Limited
open                 1675.0
high            1689.599976
low                  1652.5
close           1667.400024
volume             124609.0
dividends               0.0
stock_splits            0.0
Name: 0, dtype: object

In [14]:
df.loc[0:5,:]

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,1010.400024,1025.949951,1001.500000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0
5,1770336000,ADANIPOWER.NS,Adani Power Limited,152.000000,154.110001,150.000000,152.740005,17334858.0,0.0,0.0

In [15]:
df.loc[0:5,:]

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,1010.400024,1025.949951,1001.500000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0
5,1770336000,ADANIPOWER.NS,Adani Power Limited,152.000000,154.110001,150.000000,152.740005,17334858.0,0.0,0.0

In [16]:
df.loc[0:4,'symbol']

0           ACC.NS
1    ADANIENSOL.NS
2      ADANIENT.NS
3    ADANIGREEN.NS
4    ADANIPORTS.NS
Name: symbol, dtype: object

In [17]:
df.loc[0:4,['symbol','open','low']] ## second wale mai -1 kaam nhi kr rha hai

          symbol         open          low
0         ACC.NS  1675.000000  1652.500000
1  ADANIENSOL.NS  1010.400024  1001.500000
2    ADANIENT.NS  2226.100098  2200.399902
3  ADANIGREEN.NS   966.000000   954.250000
4  ADANIPORTS.NS  1563.000000  1527.000000

In [18]:
df.loc[0:4,df.columns[1:6:2]]

          symbol         open          low
0         ACC.NS  1675.000000  1652.500000
1  ADANIENSOL.NS  1010.400024  1001.500000
2    ADANIENT.NS  2226.100098  2200.399902
3  ADANIGREEN.NS   966.000000   954.250000
4  ADANIPORTS.NS  1563.000000  1527.000000

In [19]:
df.loc[0:4,df.columns[-1]]

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: stock_splits, dtype: float64

In [20]:
df.loc[::2,['symbol','open']]

              symbol         open
0             ACC.NS  1675.000000
2        ADANIENT.NS  2226.100098
4      ADANIPORTS.NS  1563.000000
6       AMBUJACEM.NS   530.000000
8             AWL.NS   212.100006
...              ...          ...
64494  ADANIENSOL.NS          NaN
64496  ADANIGREEN.NS          NaN
64498  ADANIPOWER.NS          NaN
64500        ATGL.NS          NaN
64502        NDTV.NS          NaN

[32252 rows x 2 columns]

In [21]:
acc_df = df[df['symbol'] == 'ACC']

In [22]:
acc_table = df.copy()

In [23]:
acc_table

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,1010.400024,1025.949951,1001.500000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
64499,1025481600,AMBUJACEM.NS,Ambuja Cements Limited,17.374217,17.759328,17.298457,17.670942,630442.0,0.0,0.0
64500,1025481600,ATGL.NS,Adani Total Gas Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64501,1025481600,AWL.NS,AWL Agri Business Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64502,1025481600,NDTV.NS,New Delhi Television Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64503,1025481600,SANGHIIND.NS,Sanghi Industries Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
'open	high	low	'.split("\t")

['open', 'high', 'low', '']

In [25]:
acc_table.loc[12,'open	high	low'.split("\t")] = 200

In [26]:
acc_table

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,1010.400024,1025.949951,1001.500000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
64499,1025481600,AMBUJACEM.NS,Ambuja Cements Limited,17.374217,17.759328,17.298457,17.670942,630442.0,0.0,0.0
64500,1025481600,ATGL.NS,Adani Total Gas Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64501,1025481600,AWL.NS,AWL Agri Business Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64502,1025481600,NDTV.NS,New Delhi Television Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64503,1025481600,SANGHIIND.NS,Sanghi Industries Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
acc_table.head(14)

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,1010.400024,1025.949951,1001.500000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0
5,1770336000,ADANIPOWER.NS,Adani Power Limited,152.000000,154.110001,150.000000,152.740005,17334858.0,0.0,0.0
6,1770336000,AMBUJACEM.NS,Ambuja Cements Limited,530.000000,531.549988,524.000000,529.450012,554714.0,0.0,0.0
7,1770336000,ATGL.NS,Adani Total Gas Limited,545.000000,552.250000,540.250000,543.500000,360154.0,0.0,0.0
8,1770336000,AWL.NS,AWL Agri Business Limited,212.100006,213.119995,209.300003,211.360001,946031.0,0.0,0.0
9,1770336000,NDTV.NS,New Delhi Television Limited,87.000000,87.040001,85.279999,86.400002,111992.0,0.0,0.0
10,1770336000,SANGHIIND.NS,Sanghi Industries Limited,62.910000,62.910000,61.650002,62.439999,384929.0,0.0,0.0
11,1770249600,ACC.NS,ACC Limited,1694.000000,1694.000000,1668.000000,1676.199951,87906.0,0.0,0.0
12,1770249600,ADANIENSOL.NS,Adani Energy Solutions Limited,200.000000,200.000000,200.000000,1011.450012,1770119.0,0.0,0.0
13,1770249600,ADANIENT.NS,Adani Enterprises Limited,2232.000000,2243.699951,2210.000000,2236.600098,992382.0,0.0,0.0

In [28]:
acc_table.loc[1,'open	high	low'.split("\t")] = range(200,203)

In [29]:
acc_table.head(2)

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.0,1689.599976,1652.5,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,200.0,201.000000,202.0,1017.700012,1811726.0,0.0,0.0

In [30]:
## iloc

In [31]:
acc_table.iloc[2:5,2:5]  ### index based searching

                                         company         open         high
2                      Adani Enterprises Limited  2226.100098  2238.000000
3                     Adani Green Energy Limited   966.000000   974.950012
4  Adani Ports and Special Economic Zone Limited  1563.000000  1575.500000

In [32]:
acc_table.iloc[1:4,]

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,200.000000,201.000000,202.000000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0

In [33]:
acc_table.iloc[:,:]

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,200.000000,201.000000,202.000000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
64499,1025481600,AMBUJACEM.NS,Ambuja Cements Limited,17.374217,17.759328,17.298457,17.670942,630442.0,0.0,0.0
64500,1025481600,ATGL.NS,Adani Total Gas Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64501,1025481600,AWL.NS,AWL Agri Business Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64502,1025481600,NDTV.NS,New Delhi Television Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64503,1025481600,SANGHIIND.NS,Sanghi Industries Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
acc_table.iloc[1:4:,1:7]

,symbol,company,open,high,low,close
1,ADANIENSOL.NS,Adani Energy Solutions Limited,200.000000,201.000000,202.000000,1017.700012
2,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902
3,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976

In [35]:
acc_table.iloc[:,[0,-1]]

        timestamp  stock_splits
0      1770336000           0.0
1      1770336000           0.0
2      1770336000           0.0
3      1770336000           0.0
4      1770336000           0.0
...           ...           ...
64499  1025481600           0.0
64500  1025481600           NaN
64501  1025481600           NaN
64502  1025481600           NaN
64503  1025481600           NaN

[64504 rows x 2 columns]

In [36]:
new_data = acc_table.dropna()

In [37]:
acc_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64504 entries, 0 to 64503
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     64504 non-null  int64
 1   symbol        64504 non-null  object
 2   company       64504 non-null  object
 3   open          41629 non-null  float64
 4   high          41629 non-null  float64
 5   low           41629 non-null  float64
 6   close         41629 non-null  float64
 7   volume        41629 non-null  float64
 8   dividends     41629 non-null  float64
 9   stock_splits  41629 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.9+ MB

In [38]:
new_data

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1770336000,ACC.NS,ACC Limited,1675.000000,1689.599976,1652.500000,1667.400024,124609.0,0.0,0.0
1,1770336000,ADANIENSOL.NS,Adani Energy Solutions Limited,200.000000,201.000000,202.000000,1017.700012,1811726.0,0.0,0.0
2,1770336000,ADANIENT.NS,Adani Enterprises Limited,2226.100098,2238.000000,2200.399902,2226.399902,933650.0,0.0,0.0
3,1770336000,ADANIGREEN.NS,Adani Green Energy Limited,966.000000,974.950012,954.250000,971.849976,1608144.0,0.0,0.0
4,1770336000,ADANIPORTS.NS,Adani Ports and Special Economic Zone Limited,1563.000000,1575.500000,1527.000000,1550.699951,4429173.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
64484,1025568000,ADANIENT.NS,Adani Enterprises Limited,-0.012385,-0.012426,-0.012118,-0.012269,1016147.0,0.0,0.0
64488,1025568000,AMBUJACEM.NS,Ambuja Cements Limited,17.670944,17.847717,17.506798,17.658318,1007265.0,0.0,0.0
64493,1025481600,ACC.NS,ACC Limited,108.864410,110.905618,108.184008,110.055115,659631.0,0.0,0.0
64495,1025481600,ADANIENT.NS,Adani Enterprises Limited,-0.012187,-0.012522,-0.011920,-0.012173,1080397.0,0.0,0.0
64499,1025481600,AMBUJACEM.NS,Ambuja Cements Limited,17.374217,17.759328,17.298457,17.670942,630442.0,0.0,0.0

In [39]:
new_data.isna().sum()

timestamp       0
symbol          0
company         0
open            0
high            0
low             0
close           0
volume          0
dividends       0
stock_splits    0
dtype: int64